
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<p>
    <a href="#" onclick="window.open('/Reports/Quotes/QuotesReport.aspx', 'name', 'height=800,width=1100,scrollbars=1;toolbars=0'); return false;">Quotes</a>    
</p>
<p>
    <a href="#" onclick="window.open('/Reports/Jobs/JobsReport.aspx', 'name', 'height=800,width=1100,scrollbars=1;toolbars=0'); return false;">Jobs</a>
</p>
<p>
    <a href="#" onclick="window.open('/Reports/ClientConversion/ClientConversionReport.aspx', 'name', 'height=800,width=1100,scrollbars=1;toolbars=0'); return false;">Client Conversion</a>
</p>