@using Kendo.Mvc.UI
@using WebApplication.Controllers.ViewModels.Operative

@{
    ViewBag.Title = "Index";
}

@section head
{
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            Operatives <a href="Operative/Create" class="btn btn-default">Create</a>
        </h2>
    </div>
    <div class="panel-body">
        
        @*@Html.ActionLink("Create", "Create", )*@

        @(Html.Kendo().Grid<ListModel>().Name("Grid")
              .TableHtmlAttributes(new { @class = "table" })
              .HtmlAttributes(new { @class = "table-responsive" })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Read(read => read.Action("_Index", "Operative"))
                  .Sort(sort =>
                  {
                      sort.Add(o => o.StatusID).Descending();
                      sort.Add(o => o.Forename).Descending();
                      sort.Add(o => o.Surname).Descending();
                  })
              )
              .Columns(columns =>
              {
                  columns.Bound(o => o.UserID).Visible(false);
                  columns.Bound(o => o.Forename).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                  columns.Bound(o => o.Surname).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
                  columns.Bound(o => o.StatusID).Filterable(false);
              })
              .Sortable(sorting => sorting.SortMode(Kendo.Mvc.UI.GridSortMode.MultipleColumn)
              )
              .Pageable()
              .EnableCustomBinding(true)
              .Resizable(resizing => resizing.Columns(true))
              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
              .Selectable()
              .Events(events =>
              {
                  events.Change("RowSelected");
                  events.DataBound("DataBound");
              }))

    </div>
</div>

<script type="text/javascript">
    function DataBound(e) {
        //persistanceHelper.Save();
    }

    function RowSelected(e) {
        e.preventDefault();
        var grid = $("#Grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        var newloc = "@Url.Action("Edit")/";
        document.location.href = newloc + selectedItem.UserID;
    }
</script>




